body {
    font-family: 'Cardo', serif;
    color: #8c90e3;
    height: 400px;
    width: 755px;
    margin: 40px auto;
    text-align: center;
    background-image: url(Media/BG.jpg);
    background-size: cover;

}

.main-header {
    padding: 30px 30px;
    margin: 0px auto;
    border-radius: 30px;
    background: #F3F8FC;
    box-shadow:10px 10px #CBD9F6;
    /* font stuff  */
    font-style: italic;
    font-size: 3rem;

}

h2 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration-line: underline;
}

.postL{
    border-radius: 60px;
    padding: 10px;
    box-shadow: 10px 10px #CBD9F6;
    font-style: italic;
}

.postM{
    border-radius: 60px;
    padding: 10px;
    box-shadow: 10px 10px #CBD9F6;
    font-style: italic;
}

.postR{
    border-radius: 60px;
    padding: 10px;
    box-shadow: 10px 10px #CBD9F6;
    font-style: italic;
}

#images {
    border-radius: 30px;
    padding: 10px auto;
    margin: auto;
    scale: 90%;
}

a{
    text-decoration: none;
 }
a:link{
    color: #551A8B;
 }
